/*************/
/*   RESET   */
/*************/
body, h1, h2, h3, h4, ul{
	margin: 0;
}
ul{
	padding: 0;
	list-style: none;
}

/*************/
/*   GLOBAL  */
/*************/
html{
	font:62.5% "Open Sans", arial, sans-serif;
	color: #323232;
	background: #eee;
}
body{
	font-size: 1.5rem;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cqdf51');
  src:  url('../fonts/icomoon.eot?cqdf51#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cqdf51') format('truetype'),
    url('../fonts/icomoon.woff?cqdf51') format('woff'),
    url('../fonts/icomoon.svg?cqdf51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*************/
/*   HEADER  */
/*************/
.site-header{
	padding: 20px; /*espace intérieur*/
	color: #fff;
	text-align: center;
	background-color: #e30045;
}
.site-header h1{/*je prends les h1 enfants de site-header*/
	font-family: 'Pacifico', arial, sans-serif;
	font-size: 3rem;
	font-weight: normal;
}
/*************/
/*    MAIN   */
/*************/
.site-main{
	display: flex;
	margin: auto;
	padding: 20px;
	max-width: 950px;
}
.categories-list,.tasks-list{
	padding: 20px;
	background: #fff;
}
.categories-list{
	margin-right: 20px;
	width: 200px;
}
.tasks-list{
	flex: 1;

}

/*  Categories  */
.cat-list li:nth-child(n+2){
	border-top: 1px solid #eee; 
}
.category{
	display: block;
	padding: 10px;
	color: #323232;
	text-decoration: none;
}
.category::before {
	content: '';
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	border: 1px solid #323232;
	width: 20px;
	height: 20px;
	background: #e30045;
	border-radius: 50%;
}
.cat-default::before {
	border-width: 3px;
}
.cat-default {
	font-weight: bold;
}
.category:hover {/* un lien est en display */
	background: rgba(238,238,238,.3);	
}
.category:hover::before {
	box-shadow: inset 0 0 0 2px #fff;	
}
.color-pink::before, .task-cat.color-pink {
	background: #e300ab;
}
.color-blue::before, .task-cat.color-blue {
	background: #0089e3;
}
.color-orange::before, .task-cat.color-orange {
	background: #e39100;
}
.color-green::before, .task-cat.color-green {
	background: #00e39d;
}
.color-grey::before, .task-cat.color-grey {
	background: #717171;
}
.add-item {
	border: 0;
	padding: 0;
	font-size: 1.2rem;
	color: #e30045;
	text-decoration: underline;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
}
.add-item::before {
	content: '+';
	font-size: 1.4em;
}
.add-item:hover {
	text-decoration: none;
}
/* Form */
.form-blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-block {
	width: calc(50% - 10px);
}
.form-block.dbl {
	width: 100%;
}
.form-label abbr{
	color:#e30045;
	text-decoration: none;
}
.form-field {
	box-sizing: border-box;
	border: 1px solid #eee;
	padding: 0 10px;
	width: 100%;
	height: 40px;
	font-size: 1.2rem;
	background: #fff;
	outline: none;/*dégradé qui apparaît lorsque l'on a le focus sur l'élément*/
}
.form-btn {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	border: 0;
	padding: 10px;
	font-size: 1.2rem;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	-webkit-appearance:none;
	background: #e30045;
	transition: all ease-in .2s;
}
.form-btn:hover {
	transform: scale(1.1);
}
.form-btn::active {
	background: #323232;
}
/* Tasks  */
.tasks {
	margin-bottom: 20px;
}
.task {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 10px 10px 40px;
	border-bottom: 1px solid #eee;
	cursor: pointer; 
	transition: all ease-in .2s;
}
.task:hover {
	background: rgba(0,0,0,.05);
}
[type=checkbox]:checked + .task-label::before  {
	content: "\ea10";
}
.task [type=checkbox] {
	display: none;
}
.task-label {
	margin-bottom: 10px;
	width: 100%;
	font-size: 1.8rem;
}
.task-label::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center; 
	border: 1px solid #aaa;
	width: 20px;
	height: 20px;
	font-family: icomoon;
	font-size: .8em;
	color: #00e31d;
	border-radius: 50%;
}
.task-cat {
	display: inline-block;
	padding: 2px;
	font-size: 1.2rem;
	color: #fff;
	border-radius: 2px;
	background: #e30045;
}
.task-priority {
	margin: 0 10px;
}
.task-priority::before {
	content: "\e9cc";
	font-family: icomoon;
}
.p-low::before {
	color: #eee;
}
.p-standard::before {
	color: #e39100;
}
.p-high::before {
	color: #e30045;
}
.task-date {
	margin-left: auto;
}
.task-date::before {
	content: "\e953";
	font-family: icomoon;
	color: #aaa;
}
/*************/
/*   FOOTER  */
/*************/
.site-footer{
	padding: 20px;
	text-align: center;
	font-style: italic;
}
.site-footer a{
	color: #e30045;
}